<form ng-submit="addContact()" class="form-inline task-form" role="form">
  <div class="form-group">
    <label class="sr-only" for="name"></label>
    <input ng-model="newContact.name" type="text" class="form-control" id="name" ng-required="true" placeholder="Name">
  </div>
    <div class="form-group">
    <label class="sr-only" for="number"></label>
    <input ng-model="newContact.number" type="text" class="form-control" id="number" ng-required="true" placeholder="Phone Number">
  </div>
<button type="submit" class="btn btn-success"> Save </button>
</form>

<table  class="table table-striped table-bordered" cellspacing="0" width="100%" >
  <thead>
    <tr>
     <th>Name</th>
    <th>Phone Number</th>
   </tr>
 </thead>
 <tbody>
  <tr ng-repeat="contact in contactList" | orderByPriority >
    <td><div>{{ contact.name }}</div></td> 
    <td>{{ contact.number }} </td>
    <!-- <td>
      <button ng-click="sendtextMessage(contact.number)"  type="submit" class="btn btn-success"> Send SMS</button>
      <button ng-click="contactList.$remove(contact.$id)"  type="submit" class="btn btn-danger"> Delete</button>
      </td>  -->
 </tr>
 </tbody> 
</table>


   
