 <div class="container">

      <div class="starter-template">
        <h1>Welcome to SendHub!</h1>
        <p class="lead">Explore SendHub's feature rich business phone system and landline quality voice.</p>
          <button type="button" class="btn btn-primary btn-lg">Get Started</button>
      </div>
      <div class="row">
		  <div class="col-xs-6 col-sm-3">
           <h4>Voice Features</h4>
           <p>
             <ul>
              <li>Call Transfer - Transfer a call to another SendHub number in your company</li>
              <li>Auto Attendant - Press an extension to be directed to a certain department or person</li>
              <li>Device Forwarding - Forward calls to other phone numbers</li>  
              <li>Voice Transcription - Voicemails are transcribed and stored as a text messages</li>  
             </ul>
           </p> 
		  </div>
		  <div class="col-xs-6 col-sm-3">
          <h4>Text Messaging Features</h4>
          <p>
            <ul>
              <li>Messaging Options - Text messages can be sent to individuals or groups with scheduling</li>
              <li>Message Forwarding - For your convenience, direct all incoming messages to another device</li>
              <li>Attachments - Send any ﬁle: picture, PPT, excel, GoogleDoc to your mobile device</li>  
             </ul>
          </p>
		  </div>
		  <div class="col-xs-6 col-sm-3">
          <h4>Manager Dashboard</h4> 
          <p>
            <ul>
              <li>Call Transfer - Transfer a call to another SendHub number in your company</li>
              <li>Auto Attendant - Press an extension to be directed to a certain department or person</li>
              <li>Device Forwarding - Forward calls to other phone numbers</li>  
              <li>Voice Transcription - Voicemails are transcribed and stored as a text messages</li>  
             </ul>
          </p>
		  </div>
      <div class="col-xs-6 col-sm-3">
          <h4>Contact and Messaging API</h4> 
          <p>
            <ul>
              <li>Call Transfer - Transfer a call to another SendHub number in your company</li>
              <li>Auto Attendant - Press an extension to be directed to a certain department or person</li>
              <li>Device Forwarding - Forward calls to other phone numbers</li>  
              <li>Voice Transcription - Voicemails are transcribed and stored as a text messages</li>  
             </ul> 
          </p>
      </div>
	 </div>


    </div><!-- /.container -->
